<!DOCTYPE html>
<html>
<head>
  <title>Worms</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <%= javascript_include_tag "application" %>
  <script type="text/javascript">$(document).ready(function() { app = new App(); })</script>
</body>
</html>
